@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="in-progress">
    <h1> @ViewData["Title"] </h1>
    <p>This website is under construction as of @ViewData["Timestamp"] </p>
</div>